@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
$primary-font: "DM Sans", sans-serif;
$primary-white: #FFF;
$primary-color: #43c3D1;
// $primary-color: #f49945;
$primary-black: #061123;
$secondary-color:#0284FF;
$tertiary-color:#2F4858;

body{
    font-family: $primary-font;
    font-size: 1em;
    color: $primary-black;
    font-weight: 500;
}

h1{
    font-size: 2.5em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.3em;
}

h4{
    font-size: 1em;
}

a{
    text-decoration: none;
    color: $primary-black;
    &:hover{
        color: $primary-color;
    }
}
.link{
    text-decoration: none;
    color: $primary-black;
    &:hover{
        color: $primary-color;
    }
}

.primary-text{
    color: $primary-color ;
}

.secondary-text{
    color: $secondary-color ;
}


ul{
    padding-left: 0;
    li{
        list-style: none;
    }
}

.container{
    max-width: 1540px;
}

.nav-tabs{
    .nav-link{
        color: $primary-black;
    }
}
.btn{
    &.btn-size{
        background-color: rgba($primary-black, 0.05);
        border-color: rgba($primary-black, 0.05);
        padding: 7px 15px;
        &.active{
            border-color:  rgba($primary-black, 0.20);;
        }
        &:hover{
            border-color:  rgba($primary-black, 0.20);;
            color: $primary-black;
        }}
 
    &.btn-primary{
        background-color: $primary-color;
        border-color: $primary-color;
        padding: 7px 25px;
        &:hover{
            background-color: $primary-black;
            border-color: $primary-black;
            color: $primary-white;
        }
    }

    &.btn-secondary{
        background-color: $primary-black;
        border-color: $primary-black;
        color: $primary-white;
        padding: 7px 25px;
        &:hover{
            background-color: $primary-color;
            border-color: $primary-color;
            color: $primary-white;
        }
    }
}
header{
    .link{
        font-size: 1.2em;
        font-weight: 500;
        color: $primary-black;
      
    }
}
footer{
  

    background-color: $tertiary-color;
    h2{
        font-size: 1.5em;
    }
    ul{
        li{
            margin-bottom: 10px;
            .link{
                font-size: 1.2em;
               color: $primary-white;
            


            }
        }
    }
    .spotlight{
        border-top: 1px solid rgba($primary-white,0.10);
        border-bottom: 1px solid rgba($primary-white,0.10) ;
    }
}
.section-1{
    
    .swiper{
        .swiper-wrapper{
            .swiper-slide{
                height: 750px;
                .content{
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    }
}
.section-2{
    .product{
      
        .card-img{
            overflow: hidden;
            cursor: pointer;
            border-radius: 10px;
           img{
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
           }
           &:hover{
            img{
                scale: 1.2;
            }
           }
        }
        .card-body{
            padding: 0;
            .link{
                font-size: 1.2em;
            }
            .price{
                font-size: 1.2em;
                padding-bottom: 20px;
                span{
                    color:rgba($primary-black,0.5)
                }
            }
        }
    }
}
@media(min-width:768px) and (max-width: 991px){
    .section-1{
        .swiper{
            .swiper-wrapper{
                .swiper-slide{
                    height: 350px;
                }
            }
        }
    }
}
@media(min-width:551px) and (max-width: 768px){
    .section-1{
        .swiper{
            .swiper-wrapper{
                .swiper-slide{
                    height: 400px;
                }
            }
        }
    }
}
@media(min-width:200px) and (max-width: 551px){
    .section-1{
        .swiper{
            .swiper-wrapper{
                .swiper-slide{
                    height: 230px;
                }
            }
        }
    }
}
.bread{
    li{
        list-style: none;
    }
}
.breadcrumb{
   .breadcrumb-item{
    list-style: none;
   }
}

.product-detail{
    .mySwiper{
        .swiper-slide{
            height: auto !important;
        }

    }
    .price{
        font-weight: bold;
        span{
            color: rgba($color:$primary-black,$alpha:0.50);
        }
    }
}
.login{
    width: 450px;
    
}
.sidebar{
    ul{
        li{
            border-bottom: 1px solid rgba(6,17,35,0.2);
            margin-bottom: 2px;

            .link{
                display: block;
                padding: 10px ;
                color:$primary-black;
                &:hover{
  color: $primary-color;
                }
            }
        }
    }
}
.skeleton {
    background: #e0e0e0;
    border-radius: 4px;
    animation: shimmer 1.5s infinite linear;
  
    &-text {
      height: 18px;
      width: 70%;
      margin: 2px 0;
    }
    &-text2{
        height: 45px;
        width: 50px;
        
    }
  
    &-status {
       
      height: 20px;
      width: 50px;
    }
  
    &-action {
      height: 20px;
      width: 20px;
      margin: 0 5px;
    }
  }
  
  @keyframes shimmer {
    0% {
      background-position: -100px 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  