@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
$primary-font: "DM Sans", sans-serif;
$primary-white: #FFF;
// $primary-color: #53c4d1;
$primary-color: #a1206bea;
// $primary-color: #d427c9;
$gradient-color:$primary-color ;
// $primary-black: #2b0934;
$primary-black: #343b48;
// $primary-black: #46225e;
$secondary-color:#0284FF;
$tertiary-color-1:#2F4858;

// $tertiary-color:#5e3155;
$tertiary-color:#803a71;
body{
    font-family: $primary-font;
    font-size: 1em;
    color: $primary-black;
    font-weight: 500;
}
.bg-dark{
    background-color: #271c27 !important;
}

h1{
    font-size: 2.5em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.3em;
}

h4{
    font-size: 1em;
}

a{
    text-decoration: none;
    color: $primary-black;
    &:hover{
        color: $primary-color;
    }
}
.link{
    text-decoration: none;
    color: $primary-black;
    &:hover{
        color: $primary-color;
    }
}

.primary-text{
    color: $primary-color ;
}

.secondary-text{
    color: $secondary-color ;
}


ul{
    padding-left: 0;
    li{
        list-style: none;
    }
}

.container{
    max-width: 1540px;
}

.nav-tabs{
    .nav-link{
        color: $primary-black;
    }
}
.btn{
    &.btn-size{
        background-color: rgba($primary-black, 0.05);
        border-color: rgba($primary-black, 0.05);
        padding: 7px 10px;
        &.active{
            border-color:  rgba($primary-black, 0.20);;
        }
        &:hover{
            border-color:  rgba($primary-black, 0.20);;
            color: $primary-black;
        }}
 
    &.btn-primary{
        background-color: $primary-color;
        border-color: $primary-color;
        padding: 7px 25px;
        color: $primary-white;
        &:hover{
            background-color: $primary-black;
            border-color: $primary-black;
            color: $primary-white;
        }
    }

    &.btn-secondary{
        background-color: $primary-black;
        border-color: $primary-black;
        color: $primary-white;
        padding: 7px 25px;
        &:hover{
            background-color: $primary-color;
            border-color: $primary-color;
            color: $primary-white;
        }
    }
}
header{
    .link{
        font-size: 1.2em;
        font-weight: 500;
        color: $primary-black;
      
    }
}
footer{
  

    background-color: $tertiary-color;
    h2{
        font-size: 1.5em;
    }
    ul{
        li{
            margin-bottom: 10px;
            .link{
                font-size: 1.2em;
               color: $primary-white;
            


            }
        }
    }
    .spotlight{
        border-top: 1px solid rgba($primary-white,0.10);
        border-bottom: 1px solid rgba($primary-white,0.10) ;
    }
}
.section-1{
    
    .swiper{
        .swiper-wrapper{
            .swiper-slide{
                height: 770px;
              
                .content{
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    position: relative;
                    .overlay{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba($primary-black,0.3);
                    }
                }
            }
        }
    }
}
.section-2{
    .product{
        padding: 15px;
        box-shadow: 0px 0px 10px rgba($primary-black,0.2);
       
        margin: 15px 5px;
        transition: all 0.3s ease-in-out;
        &:hover{
            box-shadow: 0px 0px 10px rgba($gradient-color,0.3);
            transform: scale(1.02);
         }
        .card-img{
            overflow: hidden;
            cursor: pointer;
            border-radius: 10px;
           img{
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
           }
           &:hover{
           
            img{
                scale: 1.02;
            }
           }
        }
        .card-body{
            padding: 14px 15px;
            .link{
                font-size: 1.2em;
            }
            .price{
                font-size: 1.2em;
                padding-bottom: 20px;
                span{
                    color:rgba($primary-black,0.5)
                }
            }
        }
    }
}
.product{
    padding: 15px;
    box-shadow: 0px 0px 10px rgba($primary-black,0.2);
    margin: 15px 5px;
    transition: all 0.3s ease-in-out;
    &:hover{
        box-shadow: 0px 0px 10px rgba($gradient-color,0.3);
        transform: scale(1.02);
     }
    .card-img{
        overflow: hidden;
        cursor: pointer;
        border-radius: 10px;
       img{
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
       }
       &:hover{
        
        img{
            scale: 1.02;
        }
       }
    }
    .card-body{
        padding: 14px 15px;
        .link{
            font-size: 1.2em;
        }
        .price{
            font-size: 1.2em;
            padding-bottom: 20px;
            span{
                color:rgba($primary-black,0.5)
            }
        }
    }
}
@media(min-width:768px) and (max-width: 991px){
    .section-1{
        .swiper{
            .swiper-wrapper{
                .swiper-slide{
                    height: 350px;
                }
            }
        }
    }
}
@media(min-width:551px) and (max-width: 768px){
    .section-1{
        .swiper{
            .swiper-wrapper{
                .swiper-slide{
                    height: 400px;
                }
            }
        }
    }
}
@media(min-width:200px) and (max-width: 551px){
    .section-1{
        .swiper{
            .swiper-wrapper{
                .swiper-slide{
                    height: 230px;
                }
            }
        }
    }
}
.bread{
    li{
        list-style: none;
    }
}
.breadcrumb{
   .breadcrumb-item{
    list-style: none;
   }
}

.product-detail{
    .mySwiper{
        .swiper-slide{
            height: auto !important;
        }

    }
    .price{
        font-weight: bold;
        span{
            color: rgba($color:$primary-black,$alpha:0.50);
        }
    }
}
.login{
    width: 450px;
    
}
.sidebar{
    ul{
        li{
            border-bottom: 1px solid rgba(6,17,35,0.2);
            margin-bottom: 2px;

            .link{
                display: block;
                padding: 10px ;
                color:$primary-black;
                &:hover{
  color: $primary-color;
                }
            }
        }
    }
}
.skeleton {
    background: #e0e0e0;
    border-radius: 4px;
    animation: shimmer 1.5s infinite linear;
  
    &-text {
      height: 18px;
      width: 70%;
      margin: 2px 0;
    }
    &-text2{
        height: 45px;
        width: 50px;
        
    }
    &-text3{
        height: 18px;
        width: 100px;
        
    }
  
    &-status {
       
      height: 20px;
      width: 50px;
    }
  
    &-action {
      height: 20px;
      width: 20px;
      margin: 0 5px;
    }
  }
  
  @keyframes shimmer {
    0% {
      background-position: -100px 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  .card-bucket{
    position: relative;
    span{
        position: absolute;
        background-color: #f97316;
        color: #fff;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        top: -5px;
        right: -13px;
        font-size: 12px;
        text-align: center;
    }
  }
  .swiper-pagination-bullet {
    background-color:gray  !important;
    width: 10px; /* Bullet width */
    height: 10px; /* Bullet height */
    opacity: 0.7; /* Optional: Adjust opacity */
  }
  
  .swiper-pagination-bullet-active {
    background-color:white  !important;
    opacity: 1; /* Make active dot fully opaque */
  }
  /* Style for the swiper navigation buttons */





.logo-image{
   
 width: 300px;
height: 50px;
filter:  brightness(2.3)  ;

}
.logo-foot{
   width: 250px;
height: 50px;

}

  .rating-container {
    display: flex;
    align-items: center;
  }
  
  .rating-stars {
    display: inline-flex !important;
    flex-direction: row !important;
    align-items: center !important;
  }
  